<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epicodus.guest.sugarcrash">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="com.epicodus.guest.sugarcrash.SugarCrashApplication"
        android:allowBackup="true"
        android:icon="@drawable/sugar_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.epicodus.guest.sugarcrash.ui.MainActivity" />
        <activity android:name="com.epicodus.guest.sugarcrash.ui.CreateAccountActivity" />
        <activity android:name="com.epicodus.guest.sugarcrash.ui.LoginActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.epicodus.guest.sugarcrash.ui.SearchResultsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.guest.sugarcrash.ui.MainActivity" />
        </activity>
        <activity android:name="com.epicodus.guest.sugarcrash.ui.BaseActivity" />
        <activity android:name="com.epicodus.guest.sugarcrash.ui.FoodDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.guest.sugarcrash.ui.MainActivity" />

        </activity>
    </application>
</manifest>